{% extends 'base.html.twig' %}

{% block title %} Home - Lassap Shop {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/home.css')}}"> {% endblock %}

{% block body %}
<div class="a-title-screen-ct">
    <div class="container">
        <div class="a-shoes-link">
            
        </div>
        <div class="a-clothes-link">
            
        </div>
    </div>
    <div class="title-container">
        <h1 class="a-title">Fashion at the best prices</h1>
        <h3>+ new jacket collection to discover</h3>
    </div>
</div>
<div class="title-screen-mobile">
    <div>
        <h1 class="a-title">Fashion at the best prices</h1>
        <h3>+ new jacket collection to discover</h3>
    </div>
</div>
<section id="homeAdd">
    <div class="homePurchase">
        <div>
            <i class="fa-solid fa-percent"></i>
            <h3>5% off an order</h3>
            <p>5% discount on an order for a subscription to the newsletter</p>
        </div>
        <div>
            <i class="fa-solid fa-globe"></i>
            <h3>Free Shipping </h3>
            <p>Shipping is free for all orders over £70 worldwide</p>
        </div>
        <div>
            <i class="fa-regular fa-money-bill-1"></i>
            <h3>Buy now pay later</h3>
            <p>Payment in 3 times or 1 month after the order</p>
        </div>
    </div>

    <div class="new-arrivals">
        <h1 class="new-arrivals-title">New Arrivals</h1>
        <div class="hProduct-ct">
            {% for data in home_product %}
            <a href="{{path('clothes_detail', {id: data.id})}}">
            <div class="product-card">
                <img src="{{asset('img')}}/{{ data.image }}" alt="{{ data.model }}">
                <div class="product-info">
                    <p class="product-model">
                        {{data.model}}
                    </p>
                    <p>
                        £{{ data.price }}
                    </p>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}