{% extends 'base.html.twig' %}

{% block title %} Lassap Shop - Sign Up{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/signup.css')}}"> {% endblock %}

{% block style %}
<style>
    #signup .page-photo{
        width: 100%;
        height: 100%;
        background: url("{{asset('img/signup-page.jpg')}}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #signup form .errorSignUp{
        width: calc(100% - 10px);
        height: 50px;
        color: #842029;
        background-color: #f8d7da;
        padding: 1rem 1rem;
        margin-bottom: 5px;
        border: 1px solid #f5c2c7;
        border-radius: 0.25rem;
    }
</style>
{% endblock %}

{% block body %}
<section id="signup">
    <div class="page-photo"></div>
    <div class="signup-form">
        <form id="signupForm">
            <h2>Your account</h2>
            <h1>Create an account on Lassap.co.uk</h1>
           
            <div class="errorSignUp">
                <p class="errSignUpMsg"></p>
                <i onclick="closeErrMsgSignUp()" title="close" class="fa-solid fa-xmark"></i>
            </div>

            <div class="first-row">
                <div class="mail-input">
                    <label for="email-address">Email*</label>
                    <input class="signupData" type="email" id="email-address" name="email-address" placeholder="Your Email">
                </div>
            </div>
            <div class="second-row">
                <div class="password-input">
                    <label for="password">Password*</label>
                    <input class="signupData" type="password" id="password" name="password" placeholder="Your Password">
                </div>
                <div class="password2-input">
                    <label for="password2">Confirm Password*</label>
                    <input type="password" id="password2" name="password2" placeholder="Confirm Password">
                </div>
            </div>
            <div class="third-row">
                <div class="lastname-input">
                    <label for="lastname">Lastname*</label>
                    <input class="signupData" type="text" id="lastname" name="lastname" placeholder="Your Lastname">
                </div>
                <div class="firstname-input">
                    <label for="firstname">Firstname*</label>
                    <input class="signupData" type="text" id="firstname" name="firstname" placeholder="Your Firstname">
                </div>
            </div>

            <div class="fourth-row">
                <div class="country-input">
                    <label for="country">Country*</label>
                    <select class="signupData" name="country" id="country">
                        <option value="">--Country of residence--</option>
                        <option class="continent-option" value="" disabled>Africa</option>
                        {% for country in african_countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                        <option class="continent-option" value="" disabled>America</option>
                        {% for country in american_countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                        <option class="continent-option" value="" disabled>Asia</option>
                        {% for country in asian_countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                        <option class="continent-option" value="" disabled>Europe</option>
                        {% for country in european_countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                        <option class="continent-option" value="" disabled>Oceania</option>
                        {% for country in oceanian_countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}

                    </select>
                    
                </div>
            </div>

            <div class="fifth-row">
                <div class="address-input">
                    <label for="address">Address*</label>
                    <input class="signupData" type="text" id="address" name="address" placeholder="Your Address">
                </div>
            </div>

            <div class="sixth-row">
                <div class="building-loor-input">
                    <label for="building-floor">Building/Floor</label>
                    <input class="signupData" type="text" id="building-floor" name="building-floor" placeholder="Your Building/Floor">
                </div>
            </div>

            <div class="seventh-row">
                <div class="city-input">
                    <label for="city">City*</label>
                    <input class="signupData" type="text" id="city" name="city" placeholder="City">
                </div>
                <div class="postcode-input">
                    <label for="postcode">Post Code*</label>
                    <input class="signupData" type="number" id="postcode" name="postcode" placeholder="Your Post Code">
                </div>
            </div>

            <div class="eighth-row">
                <div class="phone-input">
                    <label for="phone">Phone*</label>
                    <input class="signupData" type="number" id="phone" name="phone" placeholder="Your Phone number">
                </div>
                <div class="birth-input">
                <label for="birth-date">Birth date*</label>
                    <input class="signupData" type="date" id="birth-date" name="birth-date" placeholder="Your Birth Date">
                </div>
            </div>
            <div class="btn-wrapper">
                <button id="signupSubmit" type="button" onclick="signup(); return false;">Sign Up</button>
                <div class="use-terms-wrapper">
                    <input class="signupData" type="checkbox" name="termsOfUse" id="termsOfUse">
                    <label for="termsOfUse">I have read and accept the terms of use of my personal data.</label>
                </div>
                <div class="login-link">
                  <p>Already have an account ? <a href="{{path('login')}}">Log in</a></p>
                </div>

            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
    <script src="{{asset('js/signup.js')}}"></script>
{% endblock %}