{% extends 'base.html.twig' %}

{% block title %}Login - Lassap Shop{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{asset('css/login.css')}}"> {% endblock %}

{% block style %}
<style>
    #login .page-photo{
        width: 100%;
        height: auto;
        background: url('{{asset("img/login-page.jpg")}}');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block body %}
<section id="login">
    <div class="login-form">
        <form method="POST">
            <h1>Log in to Lassap.co.uk</h1>

            <div class="error-container">
                {% if error %}
                    <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
    
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            </div>


            <div class="input-container">
                <div class="login-email">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Your Email" autocomplete="email" required autofocus>
                </div>
                <div class="login-password">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Your Password" autocomplete="current-password" required>
                </div>
                <div class="btn-wrapper">
                    <button type="submit">Log in</button>
                    <a class="forgot-psw" href="#">Forgot your password ?</a>
                    <div class="ct-new-account">
                        <p class="new-account">You don't have an account ?</p>
                        <a href="{{path('app_register')}}">Create an account</a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
    <div class="page-photo"></div>
</section>
{% endblock %}