{% extends 'base.html.twig' %}

{% block title %} User Account - Lassap Shop {% endblock %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&display=swap');
        #account-params{
            width: 100%;
            height: 100%;
            margin-top: 110px;
            margin-bottom: 2%;
        }
        #account-params .params-ct{
            display: flex;
            flex-direction: row;
            margin-top: 5%;            
        }
        #account-params h1{
            text-align: center;
            font-size: 50px;
            font-family: 'Bakbak One', cursive;
        }
        #account-params .params-ct .user-menu{
            padding: 0 10%;
        }
        #account-params .params-ct .user-menu ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 22px;
            font-family: 'Anek Bangla', sans-serif;
        }
        #account-params .account-info{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        #account-params .account-info p{
            font-size: 22px;
        }
        #account-params .account-info .user-info{
            font-family: 'Racing Sans One', cursive;
            font-weight: 200;
        }
        #account-params .account-info .user-account-data{
            font-family: 'KoHo', sans-serif;
        }
        #account-params .account-info span{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        #account-params #delete-modal{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.92);
            z-index: 999;
            display: none;
            place-items: center;
        }
        #account-params #delete-modal i{
            position: fixed;
            top: 20px;
            right: 20px;
            color: #fff;
            cursor: pointer;
        }
        #account-params #delete-modal .warning{
            width: 600px;
            height: 250px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 4%;
        }
        #account-params #delete-modal .warning p{
            margin-bottom: 5%;
        }
        #account-params #delete-modal .warning .btn-modal-wrapper{
            display: flex;
            flex-direction: row;
            gap: 10%;
            justify-content: center;
        }
        #account-params #delete-modal .btn{
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        #account-params #delete-modal .btn-primary{
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        #account-params #delete-modal .btn-danger{
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
        #account-params #delete-modal .btn-danger:hover {
            color: #fff;
            background-color: #c82333;
            border-color: #bd2130;
        }
        @media screen and (max-width: 800px) {
            #account-params{
                min-height: 100vh;
                height: auto;
                margin-bottom: 2%;
            }
        #account-params .params-ct{
            flex-direction: column;
            padding-bottom: 4%;
            gap: 20px;
        }
        #account-params .account-info{
            padding-left: 2%;
        }
        #account-params .user-menu ul{
            padding-left: 10%;
        }
        #account-params .account-info .user-account-data{
            word-break: break-all;
        }
        #account-params .params-ct .user-menu{
            padding: 0%;
        }
        #account-params .account-info span{
            flex-wrap: wrap;
            white-space: normal;
        }
        }
    </style>
{% endblock %}

{% block body %}
    <section id="account-params">
        <h1>My Account</h1>
        <div class="params-ct">
            <div class="user-menu">
                <ul>
                    <li><a href="{{path('user_change_psw', {id: app.user.getId()})}}">Change password</a></li>
                    <li><a href="{{path('user_update', {id: app.user.getId()})}}">Update account data</a></li>
                    <li><a onclick="showDeleteModal()" id="delete-account">Delete account</a></li>
                    <li><a href="{{path('app_logout')}}">Logout</a></li>
                </ul>
            </div>
            <div class="account-info">
                <span>
                    <p class="user-info">Lastname : </p>
                    <p class="user-account-data">{{data.lastname}}</p>
                </span>
                <span>
                    <p class="user-info">Firstname: </p>
                    <p class="user-account-data">{{data.firstname}}</p>
                </span> 
                <span>
                    <p class="user-info">Birthdate : </p>
                    <p class="user-account-data">{{data.birthdate|date('d/m/Y')}}</p>
                </span>
                <span>
                    <p class="user-info">Email : </p>
                    <p class="user-account-data">{{data.email}}</p>
                </span>
                <span>
                    <p class="user-info">Address : </p>
                    <p class="user-account-data">{{data.address}}</p>
                </span>
                {% if data.building_floor is defined %}
                <span>
                    <p class="user-info">Building/Floor : </p>
                    <p class="user-account-data">{{data.building_floor}}</p>
                </span>
                {% endif %}
                <span>
                    <p class="user-info">City : </p>
                    <p class="user-account-data">{{data.city}}</p>
                </span>
                <span>
                    <p class="user-info">PostCode :</p>
                    <p class="user-account-data">{{data.postcode}}</p>
                </span>
                <span>
                    <p class="user-info">Country : </p>
                    <p class="user-account-data">{{data.country.getName()}}</p>
                </span>
                <span>
                    <p class="user-info">Phone number : </p>
                    <p class="user-account-data">0{{data.phone}}</p>
                </span>
            </div>
        </div>

        <div id="delete-modal">
            <i onclick="closeDeleteModal()" class="fas fa-times"></i>
            <div class="warning text-danger">
                <p>
                    Do you really want to delete your account? By deleting your account all data related to it will be deleted.
                </p>
                <div class="btn-modal-wrapper">
                    <a href="{{path('delete_acount', {id: app.user.getId})}}" type="button" class="btn btn-danger">Delete</a>
                    <a onclick="closeDeleteModal()" type="button" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        const showDeleteModal = () =>{
        document.querySelector('#account-params #delete-modal').style.display = 'grid';
    }
        const closeDeleteModal = () =>{
        document.querySelector('#account-params #delete-modal').style.display = 'none';
    }
    </script>
{% endblock %}